{% extends "base.html.twig" %}

{% block body %}


    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href={{ path('user_index') }}>Tous les Utilisateurs</a>
        {% endif %}
        <a href="{{ path('user_show', {'id': app.user.id}) }}">Mon Compte</a>
        <a href={{ path('app_logout') }}>Se Déconnecter</a>
    {% else %}
        <a href={{ path('app_login') }}>Se Connecter</a>
    {% endif %}

    
{% endblock %}

